{% extends "layout1.html" %}

{% block title %} Index {% endblock %}

{% block button %}
    <button class="btn btn-primary" onclick="location.href='/login'">Log In</button>
    <button class="btn btn-primary"onclick="location.href='/register'">Register</button>
{% endblock %}

{% block main %}
        <section id="feat">
            <div class="container">
                <div class="row features">
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="100ms">
                        <span class="typcn typcn-tick-outline x3"></span>
                        <hr class="hrline">
                        <h4>Goals</h4>
                        <p>Keep track of your long-term goals and take steps towards them day by day. Step by step, you can reach the summit.</p>
                    </div>
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="300ms">
                        <span class="typcn typcn-pencil x3"></span>
                        <hr class="hrline">
                        <h4>Academics</h4>
                        <p>Manage your academics: from coursework, assignments, and exams, check off your assignments one by one.</p>
                    </div>
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms">
                        <span class="typcn typcn-heart-outline x3"></span>
                        <hr class="hrline">
                        <h4>Health</h4>
                        <p>Leading a healthy lifestyle improves all aspects of your life. Regular physical activity and exercise can have immediate and long-term health benefits. Eating well can improve your quality of life.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms">
                        <span class="typcn typcn-group-outline x3"></span>
                        <hr class="hrline">
                        <h4>Social Life</h4>
                        <p>Maintaining a full and fulfilling life includes spending quality time with loved ones and making time for oneself.</p>
                    </div>
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms">
                        <span class="typcn typcn-bookmark x3"></span>
                        <hr class="hrline">
                        <h4>Extracurriculars</h4>
                        <p>Stay on top of the extracurricular responsibilities and activities adding value to your life. </p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>
        <section id="about" class="number wow fadeInUp" data-wow-delay="300ms">
            <!-- change the image in style.css to the class .number .container-fluid [approximately row 102] -->
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 opaline col-md-offset-6">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <h3>Focus your goals and attention.</h3>
                                    <h5>Motivate yourself by evidence of progress.</h5>
                                    <p>Measurement of results is crucial for effective goal setting; measureable goals enable future improvement and development as clear tracking indicates progress.</p>
                                </div>
                            </div>
                            <div class="row text-center">
                                <!-- set the numbers in assets/js/scripts.js  -->
                                <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-1 col-md-offset-1 col-sm-6 wow fadeInUp">
                                    <h3>Growth</h3>
                                    <h5>Mindset</h5>
                                </div>
                                <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-2 col-md-offset-2 col-sm-6 wow fadeInUp" data-wow-delay="300ms">
                                    <h3>Step by Step</h3>
                                    <h5>Reach the Top</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Make the most of your life.</h2>
                        <p>Setting goals provides both short-term motivation and long-term vision, to help you reach the summit. Personal goal setting allows for the organization of time and resources, and focuses acquisition of knowledge.</p>
                        <p>Achieving goals consistently requires effective goal setting, which takes advantage of the surrounding environment. Aligning your environment with ambitions enables for long-term progress.</p>
                        <a class="btn btn-danger btn-lg" href="https://www.google.com/search?q=david+malan+memes&safe=active&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjVrbCohYzfAhWhmeAKHYucA2gQ_AUIDigB&biw=1217&bih=650">Take a Look <i class="fa fa-arrow-circle-o-right"></i> </a>
                    </div>
                    <div class="col-md-5">
                        <a href="#">
                            <img src="https://www.additudemag.com/wp-content/uploads/2016/12/136_13_Diagnose_Diagnosis_Supportive-Responses_SS_136_Man-Climbing-Mountain.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="history" class="story wow fadeInUp" data-wow-delay="300ms">
            <!-- change the image in style.css to the class .story .container-fluid [approximately row 141] -->
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 opaline">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <p class="lead"><i>Spend time on things that are important to you. Record your values, live with integrity.</i></p>
                                    <p><i>Successful people maintain a positive focus in life no matter what is going on around them. They stay focused on their past successes rather than their past failures, and on the next action steps they need to take to get them closer to the fulfillment of their goals rather than all the other distractions that life presents to them.</i></p>
                                    <h6 class="lead"> – Jack Canfield</h6>
                                    <p><small>Design better default decisions into life to work towards your goals.<br>
                                    Full growth and optimal living require revision of strategies.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}